ul.menu1 li {
   background: #ddd;
   height: 20px;
   width:200px;
   padding: 5px 10px;
   list-style:none;
}
ul.menu1 li li {
   display:block;
   background: #aaa;
}
ul.menu1 li ul {
   display:none;
   padding: 0;
   margin-left:210px;
   margin-top:-30px;
}
ul.menu1 li:hover ul {
   display:block;
}